<ion-content>
  <div class="container">
  <ion-grid class="grid">
    <ion-row class="ion-justify-content-center">
      <ion-img class="photo" [src]="photo"></ion-img>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <h1 class="title">Prueba técnica</h1>
    </ion-row>

    <form *ngIf="form" [formGroup]="form" (ngSubmit)="send()">

    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-item class="field">
          <ion-label position="floating">Email</ion-label>
          <ion-input formControlName="email" required="true"></ion-input>
          <ion-icon name="person-outline" slot="start"></ion-icon>
      </ion-item>  
      </ion-col>  
    </ion-row>

      
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-item class="field">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" required="true" type="password"></ion-input>
          <ion-icon name="key-outline" slot="start"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-label>Recordar</ion-label>
          <ion-toggle formControlName="remember">
          </ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-button type="submit" class="send">Acceder</ion-button>
    </ion-row>

    </form>

    <ion-row>
      <ion-text color="danger">
        <h2 *ngFor="let warning of warnings">
          > {{ warning }}
        </h2>
      </ion-text>
    </ion-row>

  </ion-grid>
  </div>
</ion-content>
