
  ion-content {
    --background: url(../../assets/background.jpg) 0 0/100% 100% no-repeat;

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .grid {
        margin-left: 5%;
        margin-right: 5%;
        background-color: white;
        max-width: 50%;
        min-width: 300px;
        min-height: 500px;

        .photo {
          margin-top: 2em;
          width: 50%;
        }
    
        .title {
          margin-top: 5%;
          margin-bottom: 5%;
          font-weight: bold;
        }

        .field {
          color: gray;
        }
    
        .send{
          --background: white;
          --box-shadow: 0;
          padding: 0.5em;
          color: black;
          border: 1px solid blue;
          border-radius: 1em;
          padding-left: 3em;
          padding-right: 3em;
          font-weight: bold;
          text-transform: capitalize;
        }
      }
    }
  }